## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Port Alfred,ZA,-33.5906,26.8910,52.18,82,0,1.01,clear sky
1,1,Severo-Kurilsk,RU,50.6789,156.1250,53.94,82,90,10.16,overcast clouds
2,2,Mar Del Plata,AR,-38.0023,-57.5575,55.09,95,100,15.01,light rain
3,3,Lasa,IT,46.6166,10.7002,61.36,95,86,2.42,overcast clouds
4,4,Mataura,NZ,-46.1927,168.8643,46.47,96,100,10.78,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 0
What is your desired maximum temperature for your trip? 100

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Port Alfred,ZA,-33.5906,26.8910,52.18,82,0,1.01,clear sky
1,1,Severo-Kurilsk,RU,50.6789,156.1250,53.94,82,90,10.16,overcast clouds
2,2,Mar Del Plata,AR,-38.0023,-57.5575,55.09,95,100,15.01,light rain
3,3,Lasa,IT,46.6166,10.7002,61.36,95,86,2.42,overcast clouds
4,4,Mataura,NZ,-46.1927,168.8643,46.47,96,100,10.78,overcast clouds
5,5,Rikitea,PF,-23.1203,-134.9692,75.61,73,72,14.16,broken clouds
6,6,Saint-Philippe,RE,-21.3585,55.7679,65.21,81,32,9.78,light rain
7,7,Lebu,CL,-37.6167,-73.6500,53.58,85,80,25.28,broken clouds
8,8,Yellowknife,CA,62.4560,-114.3525,72.12,37,40,16.11,scattered clouds
9,9,Saint George,US,37.1041,-113.5841,72.19,83,75,6.91,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                4
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Port Alfred,ZA,-33.5906,26.8910,52.18,82,0,1.01,clear sky
1,1,Severo-Kurilsk,RU,50.6789,156.1250,53.94,82,90,10.16,overcast clouds
2,2,Mar Del Plata,AR,-38.0023,-57.5575,55.09,95,100,15.01,light rain
3,3,Lasa,IT,46.6166,10.7002,61.36,95,86,2.42,overcast clouds
4,4,Mataura,NZ,-46.1927,168.8643,46.47,96,100,10.78,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
668,668,Daru,PG,-9.0763,143.2092,76.86,87,100,15.05,overcast clouds
669,669,Columbus,US,39.9612,-82.9988,78.33,62,0,6.91,clear sky
670,670,Inhambane,MZ,-23.8650,35.3833,60.42,85,0,7.70,clear sky
671,671,Mehamn,NO,71.0357,27.8492,51.75,100,75,0.00,broken clouds
672,672,Kargasok,RU,59.0556,80.8572,57.87,85,100,6.02,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Port Alfred,ZA,52.18,clear sky,-33.5906,26.8910,
1,Severo-Kurilsk,RU,53.94,overcast clouds,50.6789,156.1250,
2,Mar Del Plata,AR,55.09,light rain,-38.0023,-57.5575,
3,Lasa,IT,61.36,overcast clouds,46.6166,10.7002,
4,Mataura,NZ,46.47,overcast clouds,-46.1927,168.8643,
5,Rikitea,PF,75.61,broken clouds,-23.1203,-134.9692,
6,Saint-Philippe,RE,65.21,light rain,-21.3585,55.7679,
7,Lebu,CL,53.58,broken clouds,-37.6167,-73.6500,
8,Yellowknife,CA,72.12,scattered clouds,62.4560,-114.3525,
9,Saint George,US,72.19,light rain,37.1041,-113.5841,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")    
 
print('--------------')
print('Done')
print('--------------')

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
--------------
Done
--------------

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Port Alfred,ZA,52.18,clear sky,-33.5906,26.8910,The Halyards Hotel
1,Severo-Kurilsk,RU,53.94,overcast clouds,50.6789,156.1250,Kak Doma
2,Mar Del Plata,AR,55.09,light rain,-38.0023,-57.5575,Gran Hotel Mar del Plata
3,Lasa,IT,61.36,overcast clouds,46.6166,10.7002,Pension Feldgärtenhof
4,Mataura,NZ,46.47,overcast clouds,-46.1927,168.8643,Ellie's Villa

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

A Jupyter Widget